.title{
    text-align: center;
    color: #F49433;
    background-color: #557DC1;
    width: 30%;
    margin: auto;
    border-radius: 10px;
}
.title2{
    text-align: center;
    color: #D7E4F2;
    background-color: #557DC1;
    width: 30%;
    margin: auto;
    border-radius: 10px;
}
.Sign_upbox{
    margin: auto;
    width: 60%;
    background-color: #557DC1;
    padding: 20px;
    border-radius: 10px;

}
.Sign_upbox input[type="text"],input[type="password"] ,input[type="email"]{
    width: 90%;
    margin: 7px auto;
    border-radius: 10px;
    display: block;
    height: 20px;
}
.Sign_upbox input[type="submit"]{
    width: 30%;
    margin: 7px auto;
    border-radius: 10px;
    display: block;
    height: 30px;
    background-color: #F4BD6B;
}
.Sign_upbox label{
    width:90%;
    margin: auto;
    border-radius: 10px;
    display: block;
}
.auth{
    background-image: url("../images/busS.jpg");
    background-size: cover;
}
.error{
    color: red;
}
.Create_trip{
    margin: auto;
    width: 60%;
    background-color: #557DC1;
    padding: 20px;
    border-radius: 10px;

}
.Create_trip input[type="text"],input[type="date"] ,input[type="time"], input[type="number"],select{
    width: 90%;
    margin: 7px auto;
    border-radius: 10px;
    display: block;
    height: 20px;
}


.Create_trip label{
    width:90%;
    margin: auto;
    border-radius: 10px;
    display: block;
}
.Create_trip input[type="submit"]{
    width: 30%;
    margin: 7px auto;
    border-radius: 10px;
    display: block;
    height: 30px;
    background-color: #F4BD6B;
}
.adminbg{
    background-image: url("../images/admin.jpg");
    background-size: cover;
}
.table1{
border-collapse: collapse;
width: 80%;
margin: auto;
border-radius: 10px;
}
table, th , td{
    border: 1px solid black;
background-color:#557DC1;

}
.actions{
    margin: auto 5%;
    width: 20%;
    background-color: #F4BD6B;
    border-radius: 10px;
}
.actions-c {
    width:100%;
}
.cancelt{
    background-image: url("../images/admin.jpg");
    background-size: cover;
}

.trip_info {
    width: 50%;
    margin: auto;
    background-color:#557DC1;
    border-radius: 10px;
    padding: 10px;
}
.spetrip{
    background-image: url("../images/bb.jpg");
    background-size: cover;
}
h3{
    width: 100%;
}
.prop{
    color: #705E55;
    width:50%;
}
.val{
    width: 50%;
}
